{% extends 'base.html' %}
{% block title %}Mulakatlar{% endblock title %}

{% block tarih_listele %}

<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="date" name="ilk_tarih" placeholder="Tarih seçmek için tıklayınız" aria-label="Search">
    <input class="form-control mr-sm-2" type="date" name="son_tarih" placeholder="Tarih seçmek için tıklayınız" aria-label="Search">

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
        
  {% endblock%}
{% block body %}




{% endblock%}